name: Spellcheck

on:
  workflow_dispatch:

jobs:
  codespell:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install codespell
        run: pip install codespell

      - name: Run codespell
        run: |
          codespell --ignore-regex '[~`][a-zA-Z]+' --ignore-words .github/.codespellignore dlg/npc.tab kod
